body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-left: 48px;
    margin-right: 48px;
    font-size: 1.5em;
}

/* Home */

.main-nav {
    margin-top: 36px;
}

.main-nav li {
    list-style-type: none;
    display: inline-block;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

.hp-hero {
    margin-top: 15vh;
    margin-bottom: 15vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    height: 100%;
    object-fit: cover;
}

.full-width-table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-spacing: 0 1em;
}

.full-width-table th {
    font-family: "Lexend Peta", sans-serif;
    font-size: 0.6em;
    text-transform: uppercase;
}

#social-links ul {
    padding: 0;
}

#social-links li {
    list-style-type: none;
    display: inline-block;
}

#body-text {
    font-size: 0.8em;
}

.center-text {
    text-align: center;
}

/* About */

#overview p {
    margin: 0;
}

#bio-text {
    margin-top: 48px;
    margin-bottom: 48px;
}

#about-image {
    margin-top: 48px;
    margin-bottom: 48px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-image img {
    height: 100%;
    object-fit: cover;
}

#social-links li::after {
    content: " / ";
}

#social-links li:last-child::after {
    content: "";
}

#social-links a {
    text-decoration: none;
    color: black;
}